node_modules
dist
.turbo

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local temp files
.dev-web.log
.vite-dev.log

# Environment files
.env
.env.*
!.env.example

# OS / Editor files
.DS_Store
Thumbs.db
.idea
.vscode

# TypeScript cache
*.tsbuildinfo
